Django>=5.1,<5.2
django-timescaledb
dj-database-url
python-decouple==3.1
jupyter
requests
psycopg[binary]
pytz
Celery
Redis
django-celery-beat
django-celery-results
django-admin-interface
django-admin-rangefilter